<%- include('../layouts/authHeader.ejs') -%>
<main class="landing">
  <div class="landing__left">
    <p class="landing__left--image-wrapper">
      <img src="/images/logo-large.png" alt="tweeter logo">
    </p>
  </div>
  <div class="landing__right">
    hello
  </div>
</main>
<%- include('../layouts/authFooter.ejs') -%>