<%- include('../layouts/authHeader.ejs') -%>
<main class="landing">
  <div class="landing__left">
    <p class="landing__left--image-wrapper">
      <img src="/images/logo-large.png" alt="tweeter logo">
    </p>
  </div>
  <div class="landing__right">
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
  </div>
</main>
<%- include('../layouts/authFooter.ejs') -%>