<%- include('../layouts/authHeader') -%>
<main class="login">
  <div class="container">
    <form class="form p-2 flex flex-col" method="post">
      <a href="/" class="form__logo">
        <img src="/static/images/logo-blue.png" alt="tweeter logo small">
      </a>
      <p class="form__title">Sign in to Twitter</p>
      <div class="handle-form">
      <div class="form__group">
        <label for="loguser">
          <span class="material-symbols-outlined">
            person
          </span>
        </label>
        <input type="text" name="loguser" id="loguser" placeholder="Login with email or phone or username" class="form__group--input" required>
        <span class="material-symbols-outlined marked">
          check_circle
        </span>
      </div>
      <p>errorMsg goes here</p>
    </div>
    <div class="handle-form">
      <div class="form__group">
        <label for="password">
          <span class="material-symbols-outlined">
            lock
          </span>
        </label>
        <input type="password" name="password" id="password" class="form__group--input" placeholder="Enter you password" autocomplete="off" required>
        <span class="material-symbols-outlined marked">
          check_circle
        </span>
      </div>
      <p>errorMsg goes here</p>
    </div>
      <button type="submit" class="btn | login-btn not-allowed" disabled>Login</button>

      <div class="social-icons">
        <small>or continue with these social profile</small>
        <ul>
          <li><img src="/static/images/facebook.png" alt="facebook logo"></li>
          <li><img src="/static/images/logo-blue.png" alt="twitter logo"></li>
          <li><img src="/static/images/github.png" alt="github logo"></li>
          <li><img src="/static/images/google.png" alt="google logo"></li>
        </ul>
        <small>Not a member? <a href="/auth/register">Register</a></small>
      </div>
    </form>
  </div>
</main>
<script src="/static/script/contants.js"></script>
<script src="/static/script/validateInput.js"></script>
<script src="/static/script/login.js"></script>
<%- include('../layouts/authFooter') -%>