%btn-shared {
  border: none;
  padding: 1rem 2.8rem;
  outline: none;
  border-radius: 2.4rem;
  display: inline-block;
}

.btn {
  @extend %btn-shared;
  text-align: center;
}

.social-login-btns button {
  @extend %btn-shared;
  background-color: $clrWhite;
}

.register-btn .btn {
  background-color: $clrPrimary;
  color: $clrWhite;
}

.login-btn .btn {
  display: inline-block;
  border: $border-1;
  color: $clrPrimary;
  border-color: rgba(255, 255, 255, 0.72);
}
