<section class="nav__wrapper">
  <div class="nav__logo">
    <img src="/static/images/logo-blue.png" alt="navigation logo">
  </div>
  <ul class="nav__lists">
    <li>
      <a href="/">
        <span class="material-symbols-outlined">
          home
        </span>
        Home</a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">
          tag
        </span>
        Explore</a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">
          notifications
        </span>
        Notifications
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">
          mail
        </span>
        Message
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">
          bookmark
        </span>
        Bookmarks
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">
          summarize
        </span>
        Lists
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">
          person
        </span>
        Profile</a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">
          expand_circle_down
        </span>
        Home
      </a>
    </li>
  </ul>
  <button class="btn timeline-btn-tweet">tweet</button>
  <div class="nav__profile">
    <div class="nav__profile-img">
      <img src="/static/images/logo-blue.png" alt="">
    </div>
    <p>Victor UX/UI <span>@victoruxui</span></p>
    <span class="material-symbols-outlined">
      more_horiz
    </span>
  </div>
</section>