<section class="nav__wrapper">
  <div class="nav__logo">
    <img src="/static/images/logo-blue.png" alt="navigation logo">
  </div>
  <span class="material-symbols-outlined mobileNavClose">
    close
  </span>
  <ul class="nav__lists">
    <li>
      <a href="/">
        <span class="material-symbols-outlined">
          home
        </span>
        <span class="link-text">Home</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">tag</span>
        <span class="link-text">Explore</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">notifications</span>
        <span class="link-text">Notifications</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">mail</span>
        <span class="link-text">Message</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">bookmark</span>
        <span class="link-text">Bookmarks</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">summarize</span>
        <span class="link-text">Lists</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">person</span>
        <span class="link-text">Profile</span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="material-symbols-outlined">expand_circle_down</span>
        <span class="link-text">More</span>
      </a>
    </li>
  </ul>
  <div class="nav__post-btn">
    <a class="btn timeline-btn-tweet">tweet</a>
    <div class="nav__post-btn-svg">
      <svg viewBox="0 0 24 24" aria-hidden="true" style="color: white;" class="r-jwli3a r-4qtqp9 r-yyyyoo r-1472mwg r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp">
        <g>
          <path d="M23 3c-6.62-.1-10.38 2.421-13.05 6.03C7.29 12.61 6 17.331 6 22h2c0-1.007.07-2.012.19-3H12c4.1 0 7.48-3.082 7.94-7.054C22.79 10.147 23.17 6.359 23 3zm-7 8h-1.5v2H16c.63-.016 1.2-.08 1.72-.188C16.95 15.24 14.68 17 12 17H8.55c.57-2.512 1.57-4.851 3-6.78 2.16-2.912 5.29-4.911 9.45-5.187C20.95 8.079 19.9 11 16 11zM4 9V6H1V4h3V1h2v3h3v2H6v3H4z"></path>
        </g>
      </svg>
    </div>

  </div>


  <div class="nav__profile">
    <div class="nav__profile-img">
      <img src="/static/images/logo-blue.png" alt="">
    </div>
    <p>Victor UX/UI <span>@victoruxui</span></p>
    <span class="material-symbols-outlined">
      more_horiz
    </span>
  </div>
</section>