<article class="timeline">
  <nav class="timeline__nav px-2 py-1">
    <div class="nav__profile-img profile">
      <img src="/static/images/logo-blue.png" alt="">
    </div>
    <h1>Home</h1>
    <span class="material-symbols-outlined">
      hub
    </span>
  </nav>
  <div class="timeline__tweetPost px-2">
    <div class="nav__profile-img">
      <img src="/static/images/logo-blue.png" alt="">
    </div>
    <div class="timeline__tweetPost--post">
      <textarea name="tweet" id="tweet-field" cols="30" rows="2" placeholder="What's happening?"></textarea>
      <button class="timeline__tweetPost--everyone">
        <span class="material-symbols-outlined">
          public
        </span>
        Everyone can reply
      </button>
      <div class="border"></div>
      <div class="timeline__tweetPost--media">
        <label for="upload">
          <span class="material-symbols-outlined">
            perm_media
          </span>
          <input type="file" name="file" id="upload">
        </label>
        <span class="material-symbols-outlined">
          gif_box
        </span>
        <span class="material-symbols-outlined">
          ballot
        </span>
        <span class="material-symbols-outlined">
          mood
        </span>
        <span class="material-symbols-outlined">
          auto_schedule
        </span>
        <button class="btn post-tweet" disabled>Tweet</button>
      </div>
    </div>
  </div>
  <div class="timeline__post px-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim tempora modi quo expedita, dignissimos sapiente facilis eius ea veniam ab quisquam magnam est ad eos ipsa excepturi? Suscipit placeat veniam eaque repellat mollitia explicabo facilis velit optio ullam accusamus error, ad saepe quasi omnis laboriosam laudantium minima reprehenderit a nihil aliquam consequatur? Ipsam incidunt, quasi dolor vel quidem illo dolore repellendus sit, vitae ab debitis hic. Officiis velit in praesentium distinctio, quidem, ipsum eaque rerum labore, cupiditate odio vero? Aut exercitationem dolorem voluptas quam minima! Non pariatur quos quia praesentium nemo enim eum, dicta aspernatur iste consequatur eveniet laboriosam incidunt fugiat sunt eligendi sed voluptatibus id. Tempore quia perspiciatis libero unde magnam, aperiam enim fugiat nostrum cumque rerum ipsam iste ipsum eveniet quod vero necessitatibus accusantium recusandae molestias autem eos delectus! Totam similique excepturi, vel iusto dolorem libero quia veritatis animi ullam quidem cupiditate earum magni ipsa et dolore voluptatem ratione! Praesentium sapiente ipsum animi perspiciatis quia nulla necessitatibus tenetur ea obcaecati dolorum nostrum officiis excepturi iste quisquam assumenda ab veniam vel, enim ut modi quaerat quo? Sint cum nesciunt assumenda doloribus ullam ad labore vero aperiam et non ex distinctio quaerat repellendus necessitatibus, consequuntur nihil quo sunt obcaecati. Iure ratione, placeat neque molestias nemo incidunt exercitationem aut accusamus ipsum quia eaque dolore? Nemo velit perferendis est iusto eveniet nulla in tempore, molestias atque, explicabo iure temporibus! Qui quo consectetur, voluptates accusamus et magni suscipit impedit maxime amet totam quos velit officiis voluptas exercitationem dolorem quaerat a itaque odio earum dicta rem, nemo officia! Officiis sed esse incidunt sapiente expedita odio doloribus doloremque consectetur iste voluptatum eius, rerum nulla aspernatur earum et voluptas perferendis illo minima error ducimus! Provident laboriosam facilis voluptates quae deserunt minus ullam ipsam error iusto sunt, aspernatur sint a ipsum repellendus blanditiis repudiandae eum harum eaque quasi quidem? Obcaecati tenetur excepturi inventore, fugiat alias dolorum esse quasi nam quo labore aliquid quaerat a pariatur, quod odio nisi necessitatibus ipsum maiores nulla ad. Deleniti enim doloribus nobis iure magnam tempora accusantium soluta, dolorem sint earum. Fugit, iure dolore eveniet et, ducimus recusandae in similique dicta fugiat distinctio minima repellat quas laborum harum nostrum! Molestiae, odio ipsam perferendis quaerat porro facilis odit optio, eaque quae corrupti sint explicabo cum dolores, nulla deserunt impedit voluptatem pariatur provident debitis eos voluptates quo exercitationem. Iusto nihil beatae fuga illo ut dolore sint! Fuga voluptate labore nam cum natus saepe tempore nihil rem debitis. Quo vero eveniet animi consectetur alias quibusdam aliquam totam, asperiores a culpa dolore labore, error, atque mollitia eaque reiciendis! Provident molestiae officia, consequatur corrupti aut maiores. Perferendis minima rerum dolor facere quidem doloribus iure eos commodi beatae cupiditate, rem, similique ipsum veritatis. Fugiat recusandae reprehenderit sint dolor hic quaerat voluptas magni, dolorem tempore neque culpa quam natus labore deleniti. Unde error ea veritatis dignissimos, esse ducimus nostrum reprehenderit praesentium enim, veniam nulla, sed quae repudiandae atque libero doloribus dolorem vero animi possimus consequuntur obcaecati. Molestias sequi facilis, sed et delectus sunt dolor temporibus amet, culpa assumenda libero!
  </div>
</article>