<%- include('../layouts/header.ejs') -%>

<main class="home">
  <div class="container home-container">
    <div class="home__content">
      <nav class="nav mobileNav">
        <%- include('../layouts/timelineNav') -%>
      </nav>
      <%- include('../layouts/tweet-box') -%>
      <aside class="aside">
        <nav class="aside__nav">
          <div class="aside__search">
            <span class="material-symbols-outlined">
              search
            </span>
            <input type="search" placeholder="Search Twitter" class="search-aside">
          </div>
        </nav>
      </aside>
    </div>
  </div>
</main>
<div class="overlay hidden"></div>
<script src="/static/script/contants.js"></script>
<script src="/static/script/validateInput.js"></script>
<script src="/static/script/home.js"></script>
<%- include('../layouts/footer.ejs') -%>