.aside {
    width: 100%;

    &__nav {
        // padding: 1rem 1.4rem;
        padding: 0.4rem 1rem;
        // box-shadow: 0px 1px 0px #EBEEF0;
        position: sticky;
        overflow: auto;
        top: 0;
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(12px);
        // overflow: hidden;
    }

    &__search {
        display: flex;
        align-items: center;
        background: $clrOffWhite;
        padding: 1rem;
        border-radius: 2rem;


        input {
            background: transparent;
            border: none;
            outline: none;
            padding-left: 1rem;
            width: 100%;
        }

        input:focus .aside__search__search {
            background-color: white;
        }
    }
}