.nav {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;
    transform: translateX(0);
    transition: $transition;

    .mobileNavClose {
        display: none;
        position: absolute;
        top: 6px;
        right: 2rem;
        font-size: 3rem;
        cursor: pointer;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.2rem;
        padding-left: 1rem;
        padding-right: 1.5rem;
    }

    &__logo {
        width: 41.52px;
        height: 42px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__lists {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        a {
            padding-block: 0.8rem;
            display: inline-block;
            color: $clrOffBlack;
            font-size: $fs-3;
            font-weight: 600;
            display: flex;
            justify-items: center;
            align-items: center;
            gap: 1rem;
            width: 100%;

            .material-symbols-outlined {
                font-size: 3rem;
                font-weight: 900;
            }
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        gap: 1rem;
        position: fixed;
        bottom: 1rem;

        &-img {
            width: 48px;
            height: 48px;
            border-radius: 100%;

            img {
                border: $border-1;
                border-radius: 100%;
            }
        }

        p {
            line-height: 1;

            span {
                display: block;
            }
        }

        span {
            margin-left: auto;
        }
    }



    &__post-btn {
        width: 100%;

        .timeline-btn-tweet {
            width: 100%;
        }

        div {
            display: none;
        }
    }
}


@media (max-width: 1100px) {

    .nav {
        text-align: center;

        &__wrapper {
            justify-content: center;
            align-items: center;
        }

        &__profile {
            p {
                display: none;
            }

            span {
                display: none;
            }
        }
    }

    .link-text {
        display: none;
    }

    .timeline-btn-tweet {
        display: none !important;
    }

    .nav__post-btn-svg {
        display: block !important;
        padding: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $clrPrimary;
    }

    .nav__post-btn-svg svg { 
        color: $clrWhite !important;
    }




}