.timeline {
    border-inline: $border-1;

    &__nav {
        // box-shadow: 0px 1px 0px #EBEEF0;
        position: sticky;
        overflow: auto;
        top: 0;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        gap: 1rem;

        h1 {
            font-size: $fs-3;
            font-weight: 900;
            color: $clrOffBlack;
            margin-right: auto;
        }

        .profile {
            display: none;
        }
    }

    &__section {
        padding: 2rem;
    }

    &__tweetPost {
        display: flex;
        gap: 2rem;

        &--post {
            flex: 1;

            textarea {
                resize: none;
                width: 100%;
                border: none;
                outline: none;
            }
        }

        &--everyone {
            display: flex;
            align-items: center;
            color: $clrPrimary;
            padding: 0.2rem 0.7rem;
            border-radius: 2rem;
            border: none;
            outline: none;
            transition: $transition;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: $clrPrimary, $alpha: 0.2);
            }
        }

        &--media {
            color: $clrPrimary;
            display: flex;
            align-items: center;
            gap: 1rem;

            input {
                display: none;
            }

            button {
                background-color: rgba($color: $clrPrimary, $alpha: 0.85);
                padding-block: .7rem;
                margin-left: auto;
                color: $clrWhite;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background-color: rgba($color: $clrPrimary, $alpha: 1);
                }

                &:disabled {
                    background-color: rgba($color: $clrPrimary, $alpha: 0.5);
                    cursor: initial;
                }
            }



            .material-symbols-outlined {
                background-color: transparent;
                border-radius: 100%;
                padding: 10px;
                font-size: 20px;
                transition: $transition;
                cursor: pointer;

                &:hover {
                    background-color: rgba($color: $clrPrimary, $alpha: 0.2);
                }
            }
        }
    }

    &__tweets {
        margin-top: 1rem;

        &:last-child {
            border-bottom: $border-1;
            border-color: rgba(0, 0, 0, 0.1);
        }
    }

    &__tweet {
        background-color: $clrWhite;
        border-top: $border-1;
        border-color: rgba(0, 0, 0, 0.1);


        &--content {

            &-detail {
                gap: 0.5rem;
            }

            &-dot {
                align-self: flex-start;
            }

            &-more {
                margin-left: auto;
            }

            &-actions {
                justify-content: space-between;
                padding: 2rem 3rem 0.5rem 0;
            }

            &-name {
                text-transform: capitalize;
            }
            .like,.comment,.retweet,.share {
                cursor: pointer;
            }
        }
    }

}

@media (max-width: 500px) {
    .timeline {
        border-inline: none;

        &__nav {
            .profile {
                display: block;
            }
        }
    }
}

.border {
    height: 0.1px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}